@model LezioneViewModel
<p>Sei sicuro di voler eliminare la lezione @Model.LezioneId - @Model.Aula</p>
<form method="post">

 <div class="form-group">
    <label asp-for="LezioneId"></label>
    <input asp-for="LezioneId" class="form-control" readonly/>
    <span asp-validation-for="LezioneId" class="Text-danger"></span>
</div>

    <div class="form-group">
    <label asp-for="DataOraInizio"></label>
    <input asp-for="DataOraInizio" class="form-control" readonly/>
    <span asp-validation-for="DataOraInizio" class="Text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Durata"></label>
    <input asp-for="Durata" class="form-control" readonly/>
    <span asp-validation-for="Durata" class="Text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="Aula"></label>
    <input asp-for="Aula" class="form-control"readonly />
    <span asp-validation-for="Aula" class="Text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DocenteID"></label>
    <input asp-for="DocenteID" class="form-control" readonly/>
    <span asp-validation-for="DocenteID" class="Text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CorsoCodice"></label>
    <input asp-for="CorsoCodice" class="form-control" readonly/>
    <span asp-validation-for="CorsoCodice" class="Text-danger"></span>
</div>


<input type="submit" value="Conferma eliminazione" class="btn btn-danger" />
<a class="btn btn-primary" asp-controller="Lezioni" asp-action="Index">Indietro</a>

</form>
